/* 
CSS Style Sheet 
*/


 /* header */
 .HEADER {
    margin-top: 0;
    background-color:#FCF6F5FF;
    color:#8ABAD3FF;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-align: center;
    }
  
  

/* Body */
body {
    background-image: url("https://reputation-communications.com/wp-content/uploads/2019/09/social-media-3846597_1280-800x504.png");
    height: fit-content;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

.SLIDER {
    height: 300px;
    width: 300px;
    background-color:#FCF6F5FF;
    border-color:#EDC2D8FF;
    border-width: 5px;
    margin: auto;
    vertical-align: middle;
    padding: 5%;
  }

/* Media Queries */
@media(max-width: 992px) {
    .navbar-expand-lg {
    background-color: #000000;
    }
    .navbar {
      max-height: none;
      padding: inherit;
    }
    .navbar div {
      margin: inherit;
      background-color: white;
    }
    .navbar-brand {
      padding: 10px;
    }
    button{
      margin-right: 30px;
    }
    button:focus {
      outline: 1px dotted;
      outline: auto 5px;
    }
  }

  
  .showSlide {  
    display: none  
}  
    .showSlide img {  
        width: 100%;  
    }  
.slidercontainer {  
    max-width: 1000px;  
    position: relative;  
    margin: auto;  
}  

.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 90%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color:  #8ABAD3FF;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 25px;  
    background-color:  #EDC2D8FF;
}  
.right {  
    right: 0;  
    border-radius: 25px;  
}  
    .left:hover, .right:hover {  
        background-color:#8ABAD3FF;
        color:  #EDC2D8FF;
    }  
.content {  
    color: black;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  
    -webkit-animation-name: fade;  
    -webkit-animation-duration: 1.5s;  
    animation-name: fade;  
    animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  

  
  /* Footer */
  footer {
  background-color: #FCF6F5FF;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #EDC2D8FF;
  color:#8ABAD3FF;
  min-height: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  }

