/* 
CSS Style Sheet 
*/

h1 {
  color:navy;
}

h3 {
  background-color: white;
}

* {
  font-family: Courier, monospace;
}

/* BODY */
body {
  background-image: url("https://reputation-communications.com/wp-content/uploads/2019/09/social-media-3846597_1280-800x504.png");
  height: 1000px;
  background-position: center;
  width:auto;
  background-repeat: repeat;
  background-size: auto;
}

/* HEATMAP */
.map {
  height: 1500px;
  width: fit-content;
  border-radius: 25px;
  border-style: solid;
  border-color:#EDC2D8FF;
}

@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #000000;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: white;
  }
  .navbar-brand {
    padding: 10px;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
}

.radar {
  background-color: orange;
}

/* Footer */
.footer {
background-color: #FCF6F5FF;
border-top-style: solid;
border-top-width: 5px;
border-top-color: #EDC2D8FF;
color:#8ABAD3FF;
min-height: 50px;
font-family: 'Nunito', sans-serif;
font-size: 15px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px;
height: 0;
}
