<!-- Data Page [2] -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>THINK OF A TITLE</title>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">OkCupid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plots
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="markermap.html">Marker Map</a>
                        <a class="dropdown-item" href="barchart.html">Bar Chart</a>
                        <a class="dropdown-item" href="piechart.html"> Pie Chart</a>
                    </div>
                </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DATA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="data.html">Job</a>
                    <a class="dropdown-item" href="data2.html">Location</a>
                    <a class="dropdown-item" href="data3.html">Starsign</a>
                </div>
                <li class="nav-item">
                <a class="nav-link" href="data.html">Click for a secret...</a>
            </li>
            </li>
        </ul>
    </div>
</nav>
</div>


    
    <div class="container">
        <div class="row">
            <div class="box">
                <h3 class="title"><center>STAR SIGN DATA</center></h3>
                <div class="col-sm-5 col-md-5" >
                        <table class="table">
                                <thead><tr><th title="Field #1">sign</th>
                                <th title="Field #2">pets</th>
                                <th title="Field #3">count</th>
                                </tr></thead>
                                <tbody><tr>
                                <td>aquarius</td>
                                <td>likes both</td>
                                <td align="right">1640</td>
                                </tr>
                                <tr>
                                <td>aquarius</td>
                                <td>likes cats</td>
                                <td align="right">173</td>
                                </tr>
                                <tr>
                                <td>aquarius</td>
                                <td>likes dogs</td>
                                <td align="right">946</td>
                                </tr>
                                <tr>
                                <td>aquarius</td>
                                <td>other</td>
                                <td align="right">25</td>
                                </tr>
                                <tr>
                                <td>aries</td>
                                <td>likes both</td>
                                <td align="right">1691</td>
                                </tr>
                                <tr>
                                <td>aries</td>
                                <td>likes cats</td>
                                <td align="right">184</td>
                                </tr>
                                <tr>
                                <td>aries</td>
                                <td>likes dogs</td>
                                <td align="right">960</td>
                                </tr>
                                <tr>
                                <td>aries</td>
                                <td>other</td>
                                <td align="right">25</td>
                                </tr>
                                <tr>
                                <td>cancer</td>
                                <td>likes both</td>
                                <td align="right">1787</td>
                                </tr>
                                <tr>
                                <td>cancer</td>
                                <td>likes cats</td>
                                <td align="right">200</td>
                                </tr>
                                <tr>
                                <td>cancer</td>
                                <td>likes dogs</td>
                                <td align="right">1014</td>
                                </tr>
                                <tr>
                                <td>cancer</td>
                                <td>other</td>
                                <td align="right">21</td>
                                </tr>
                                <tr>
                                <td>capricorn</td>
                                <td>likes both</td>
                                <td align="right">1499</td>
                                </tr>
                                <tr>
                                <td>capricorn</td>
                                <td>likes cats</td>
                                <td align="right">165</td>
                                </tr>
                                <tr>
                                <td>capricorn</td>
                                <td>likes dogs</td>
                                <td align="right">885</td>
                                </tr>
                                <tr>
                                <td>capricorn</td>
                                <td>other</td>
                                <td align="right">33</td>
                                </tr>
                                <tr>
                                <td>gemini</td>
                                <td>likes both</td>
                                <td align="right">1811</td>
                                </tr>
                                <tr>
                                <td>gemini</td>
                                <td>likes cats</td>
                                <td align="right">228</td>
                                </tr>
                                <tr>
                                <td>gemini</td>
                                <td>likes dogs</td>
                                <td align="right">1044</td>
                                </tr>
                                <tr>
                                <td>gemini</td>
                                <td>other</td>
                                <td align="right">19</td>
                                </tr>
                                <tr>
                                <td>leo</td>
                                <td>likes both</td>
                                <td align="right">1867</td>
                                </tr>
                                <tr>
                                <td>leo</td>
                                <td>likes cats</td>
                                <td align="right">229</td>
                                </tr>
                                <tr>
                                <td>leo</td>
                                <td>likes dogs</td>
                                <td align="right">1064</td>
                                </tr>
                                <tr>
                                <td>leo</td>
                                <td>other</td>
                                <td align="right">29</td>
                                </tr>
                                <tr>
                                <td>libra</td>
                                <td>likes both</td>
                                <td align="right">1728</td>
                                </tr>
                                <tr>
                                <td>libra</td>
                                <td>likes cats</td>
                                <td align="right">209</td>
                                </tr>
                                <tr>
                                <td>libra</td>
                                <td>likes dogs</td>
                                <td align="right">1012</td>
                                </tr>
                                <tr>
                                <td>libra</td>
                                <td>other</td>
                                <td align="right">26</td>
                                </tr>
                                <tr>
                                <td>pisces</td>
                                <td>likes both</td>
                                <td align="right">1635</td>
                                </tr>
                                <tr>
                                <td>pisces</td>
                                <td>likes cats</td>
                                <td align="right">188</td>
                                </tr>
                                <tr>
                                <td>pisces</td>
                                <td>likes dogs</td>
                                <td align="right">984</td>
                                </tr>
                                <tr>
                                <td>pisces</td>
                                <td>other</td>
                                <td align="right">32</td>
                                </tr>
                                <tr>
                                <td>sagittarius</td>
                                <td>likes both</td>
                                <td align="right">1685</td>
                                </tr>
                                <tr>
                                <td>sagittarius</td>
                                <td>likes cats</td>
                                <td align="right">174</td>
                                </tr>
                                <tr>
                                <td>sagittarius</td>
                                <td>likes dogs</td>
                                <td align="right">939</td>
                                </tr>
                                <tr>
                                <td>sagittarius</td>
                                <td>other</td>
                                <td align="right">24</td>
                                </tr>
                                <tr>
                                <td>scorpio</td>
                                <td>likes both</td>
                                <td align="right">1707</td>
                                </tr>
                                <tr>
                                <td>scorpio</td>
                                <td>likes cats</td>
                                <td align="right">213</td>
                                </tr>
                                <tr>
                                <td>scorpio</td>
                                <td>likes dogs</td>
                                <td align="right">1016</td>
                                </tr>
                                <tr>
                                <td>scorpio</td>
                                <td>other</td>
                                <td align="right">23</td>
                                </tr>
                                <tr>
                                <td>taurus</td>
                                <td>likes both</td>
                                <td align="right">1750</td>
                                </tr>
                                <tr>
                                <td>taurus</td>
                                <td>likes cats</td>
                                <td align="right">203</td>
                                </tr>
                                <tr>
                                <td>taurus</td>
                                <td>likes dogs</td>
                                <td align="right">1037</td>
                                </tr>
                                <tr>
                                <td>taurus</td>
                                <td>other</td>
                                <td align="right">22</td>
                                </tr>
                                <tr>
                                <td>virgo</td>
                                <td>likes both</td>
                                <td align="right">1765</td>
                                </tr>
                                <tr>
                                <td>virgo</td>
                                <td>likes cats</td>
                                <td align="right">206</td>
                                </tr>
                                <tr>
                                <td>virgo</td>
                                <td>likes dogs</td>
                                <td align="right">1027</td>
                                </tr>
                                <tr>
                                <td>virgo</td>
                                <td>other</td>
                                <td align="right">26</td>
                                </tr>
                                </tbody></table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
<section>
    <footer>
        <p>Emily Shute | Madeleine Spencer | Natalie Davies</p>
        </footer>
    </section>
</body>
</html>